Source: lskat
Section: games
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Daniel Schepler <schepler@debian.org>,
           Sune Vuorela <sune@debian.org>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           George Kiagiadakis <gkiagiad@csd.uoc.gr>,
           Eshat Cakar <info@eshat.de>,
           Lisandro Damián Nicanor Pérez Meyer <lisandro@debian.org>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libkf5crash-dev,
               libkf5doctools-dev,
               libkf5kdegames-dev,
               libkf5notifyconfig-dev,
               libphonon4qt5-dev,
               libqt5svg5-dev,
               pkg-kde-tools (>= 0.14)
Standards-Version: 3.9.8
Homepage: http://games.kde.org/
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/lskat.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/lskat.git

Package: lskat
Architecture: any
Depends: kdegames-card-data (>= 4:4.10),
         kdegames-card-data-kf5,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: khelpcenter
Description: Lieutnant Skat card game
 Lieutnant Skat is a simplified variant of the Skat card game for two players.
 .
 This package is part of the KDE games module.
